<div>
    <h1>Listado de Productos en Tiempo Real</h1>
            <ul id="listaProductos">
            </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realtime.js"></script>